body {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
div {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin-top: 10%;
}
div img {
  position: absolute;
  top: 0;
  left: 0;
  
}

.image:hover {
    transition-delay: 0,2s;
    transform:scale(2) rotate(20deg);
    filter: blur(6px);
}